.button {
    display: flex;
    background-color: #d6d3d1;
    color: #fff;
    border: 0;
    padding: 2px;
    border-radius: 100%;
    transition: background 0.3s;
    cursor: pointer;

    &:hover {
        background-color: #a3a3a3;
    }

    &--red {
        background-color: #f87171;

        &:hover {
            background-color: #ef4444;
        }
    }

    &--yellow {
        background-color: #fde047;

        &:hover {
            background-color: #facc15;
        }
    }


    &--green {
        background-color: #86efac;

        &:hover {
            background-color: #4ade80;
        }
    }
}