@import './../../styles/variables.scss';

.button {
    display: flex;
    background-color: $gray-300;
    color: #fff;
    border: 0;
    padding: 2px;
    border-radius: 100%;
    transition: background 0.3s;
    cursor: pointer;

    &:hover {
        background-color: $gray-400;
    }

    &--red {
        background-color: $red-300;

        &:hover {
            background-color: $red-400;
        }
    }

    &--yellow {
        background-color: $yellow-300;

        &:hover {
            background-color: $yellow-400;
        }
    }


    &--green {
        background-color: $green-300;

        &:hover {
            background-color: $green-400;
        }
    }

    &--large {
        background-color: paleturquoise;
        border-radius: 0;
        min-width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $gray-300;
        padding: 4px 10px;
    }
}