.modal {
    background-color: #fff;
    width: fit-content;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__footer {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}