$gray-50: #f9fafb;
$gray-100: #f4f4f5;
$gray-200: #e7e5e4;
$gray-300: #d6d3d1;
$gray-400: #a8a29e;
// $gray-700: #404040; 
$red-300: #f87171;
$red-400: #ef4444;
$yellow-300: #fde047;
$yellow-400: #facc15;
$green-300: #86efac;
$green-400: #4ade80;
$orange-300: #fdba74;
$sky-300: #7dd3fc;

$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;