.item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #000;
    max-width: fit-content;
    position: relative;
    z-index: 2;


    &__buttons{
        position: absolute;
        left: calc(10px + 100%);
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 4px;
    }

    &__field {
        overflow: hidden;
        white-space: nowrap;
        max-width: 120px;
        background-color: #fff;
        padding: 4px 12px;
        border-radius: 2px;
        cursor: default;
        text-overflow: ellipsis;
    }

    &__input {
        padding: 3px 12px;
        width: 120px;
        display: block;
        background-color: transparent;
        border: none;
        outline: none;
    }
    
    &__modal {
        position: absolute;
        top: calc(100% + 15px);
        left: 0;
    }
}