@import './../../styles/variables.scss';

.modal {
    background-color: #fff;
    width: fit-content;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: $shadow;
    border-radius: 2px;

    &__body {
        font-weight: 600;
    }

    &__footer {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}