@import './styles/variables.scss';
.App {
  text-align: center;

  &__header {
    height: 5vh;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom:  1px solid $gray-300;
    padding: 0 40px;
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__body {
    position: relative;
    height: 95vh;
  }
}


