
@import './../../styles/variables.scss';

.tree {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 86px;
    transition: all 0.3s;

    &--border {
        border-top: 1px solid $gray-400;
    }

    &__item {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            top: -10px;
            left: 50%;
            height: 50px;
            width: 1px;
            background-color: $gray-400;
        }

        &--left {
            &::after {
                content: "";
                position: absolute;
                top: -15px;
                left: 0;
                height: 15px;
                width: 50%;
                background-color: $gray-50;
            }
        }

        &--right {
            &::after {
                content: "";
                position: absolute;
                top: -15px;
                right: -1px;
                display: block;
                height: 15px;
                width: 50%;
                background-color: $gray-50;
            }
        }

        &--last {
            &::before {
                height: 29px;
            }
        }

        &--main {
            &::before {
                height: 0;
            }
        }
    }
}

.container {
    width: min-content;
}
